<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding a new user</title>
</head>
<body>
    <h1>Add a new user</h1>
    <form method="post" action="/user/add">
        <input type="text" name="username" placeholder="username">&nbsp;&nbsp;
        <input type="password" name="password" placeholder="password">&nbsp;&nbsp;
        <input type="email" name="email" placeholder="email">&nbsp;&nbsp;
        <button>Submit</button>
    </form>
</body>
</html>